@import '~quasar-variables-styl'

.inchat
  &_container
    &::before
      content: ""
      background-color: rgba(255, 255, 255, 0.5)
      height: 100%
      width: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 0
  &_box
    display: block
    width: 100%
    z-index: 1
  &_write
    min-height: 56px
    width: 100%
    margin: 5px 0
    &-input
      width: 90%
      @media screen and ( min-width: $breakpoint-sm-max )
        width: 50%
    &-icon
      width: 46px
      height: 46px
